.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header1 img {
    height: 50px;
}

.header1 h2{
    margin-right: 520px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    position: relative;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #e60000;
}

.cta-button {
    height: 25px;
    display: flex;
    align-items: center;
    border: 2px solid #e60000;
    padding: 10px 20px;
    border-radius: 20px;
    color: #e60000;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button i {
    margin-right: 10px;
}

.cta-button:hover {
    background-color: #e60000;
    color: #fff;
}
