.ambu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    flex: 1; /* Ensures the container expands between header and footer */
}

.content {
    max-width: 500px;
    margin-right: 200px;
}

.content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

 .input-group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
} 
.input-group select {
    width: 450px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
    appearance: none; 
    background: white; 
    position: relative; 
}

.input-group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none; 
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.buttons .primary {
    background-color: #120202;
    color: #fff;
}

.image-container {
    max-width: 500px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

