.update-driver-form {
    width: 400px;
    margin: 15px auto;
    padding: 65px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.update-driver-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.update-driver-form form div {
    margin-bottom: 10px;
}

.update-driver-form label {
    display: block;
    margin-bottom: 5px;
}

.update-driver-form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-driver-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-driver-form button:hover {
    background-color: #45a049;
}
